body {
    font-family: 'Montserrat', sans-serif;
    background-color: #7E32D6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    width: 80%;
    max-width: 1200px;
    background-color: #5D1F9E;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 125px;
    left: -10px;
    transform: scale(0.7); /* Reduz a logo em 50% */
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.logo-me {
    color: #000; /* Alterado para preto */
}

.header-buttons button, .timer-header button, #start-timer {
    background-color: #9E58F3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#start-timer {
    background-color: #fff;
    color: #7E32D6;
}

.tasks-container {
    background-color: #fff;
    color: #7E32D6;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.tasks-container input, .tasks-container button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
